<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Search Text Category"
            id="altf.commands.category">
      </category>
      <command
            name="Search Text Command"
            categoryId="altf.commands.category"
            id="altf.commands.altFCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="altf.commands.altFCommand"
            class="com.search.text.altf.handlers.AltFHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="altf.commands.altFCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M3+F"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
</plugin>
